<body>
  <nav class="navbar navbar-expand shadow navbar-dark bg-dark">
    <a class="navbar-brand js-scroll-trigger" href="/home">My Forum</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a
          class="nav-link dropdown-toggle"
          id="userDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span style="color: #ffffff">
            {{ user }} <a><fa-icon [icon]="faUser"></fa-icon></a
          ></span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="userDropdown"
        >
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#logoutModal"
          >
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar Sesión
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Desea Cerrar Sesión?
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar Sesión" para salir del sistema.
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            type="button"
            data-dismiss="modal"
            (click)="cerrarSesion()"
          >
            Cerrar Sesión
          </button>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
