<div>
  <div class="row">
    <div class="col-11">
      <div class="d-flex justify-content-end">
        <div class="card w-75">
          <div class="card-body shadow rounded">
            <div class="row-cols-1">
              <div class="col-12">
                <h3>
                  <a> <fa-icon [icon]="faUserCircle"></fa-icon></a> @{{
                    respuesta.username
                  }}
                </h3>
              </div>
              <div class="col">
                <label>{{ respuesta.nombre }} {{ respuesta.apellido }} </label>
                <span class="invisible">--</span>
                <label
                  >Fecha: {{ respuesta.fecha | date: "dd-MM-yyyy" }}
                </label>
              </div>
              <div class="col border border-info rounded rounded-pill">
                <h4>{{ respuesta.respuesta }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="invisible" />
</div>
