<body>
  <nav class="navbar navbar-expand shadow navbar-dark bg-dark">
    <a class="navbar-brand js-scroll-trigger" href="/home">My Forum</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a class="button btn" href="/login">Iniciar Sesión</a>
      </li>
    </ul>
  </nav>
  <header class="masthead text-center">
    <div class="container d-flex align-items-center flex-column">
      <h1 class="masthead-heading text-uppercase mb-0">Comienza a postear</h1>
      <div class="container py-4">
        <img src="assets/img/blog.png" />
      </div>

      <p class="masthead-subheading py-4 font-weight-light" style="width: 65%">
        Publica lo que piensas, comparte tus conocimientos, experiencias o las
        últimas noticias que haz visto.
      </p>
    </div>
  </header>
  <footer class="footer text-center">
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <span>Copyright © My Forum 2021</span>
      </div>
      <div class="container">
        <div><small>Desarrollado por: JorgeJU</small></div>
      </div>
    </div>
  </footer>
</body>
